# 3 Exercises Part I

### Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

In [1]:
import pandas as pd
import numpy as np

In [3]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

 Use Series attributes and methods to explore your fruits Series.

1. Determine the number of elements in fruits.

In [4]:
len(fruits)

17

2. Output only the index from fruits.

In [5]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

4. Output only the values from fruits.

In [7]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

5. Confirm the data type of the values in fruits.

In [8]:
fruits.dtypes

dtype('O')

6. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [11]:
fruits.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

7. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [12]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

8. Run the code necessary to produce only the unique string values from fruits.

In [13]:
set(fruits)

{'blackberry',
 'blueberry',
 'gala apple',
 'gooseberry',
 'honeycrisp apple',
 'honeydew',
 'kiwi',
 'mango',
 'papaya',
 'pineapple',
 'strawberry',
 'tomato',
 'watermelon'}

In [18]:
## another way
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

9. Determine how many times each unique string value occurs in fruits.

In [21]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

10. Determine the string value that occurs most frequently in fruits.

In [27]:
order_fruits = fruits.value_counts()
order_fruits.head(1)

kiwi    4
dtype: int64

11. Determine the string value that occurs least frequently in fruits.

In [29]:
## several items have 1
order_fruits.tail(1)

papaya    1
dtype: int64

Tasha's way!!

In [31]:
order_fruits.nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64